.homepage-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
  background-size: cover;
  margin-bottom: 16px;
}

h1, p {
  text-shadow: 1px 1px white;
}


